@charset "UTF-8";
* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: 'Comfortaa', cursive;
    scroll-behavior: smooth;
    color: #fff;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

aside,
nav,
footer,
header,
section {
    display: block;
}

html,
body {
    height: 100%;
    min-width: 320px;
}

body {
    line-height: 1;
    font-family: "";
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: "";
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

/*=============ОБНУЛЕНИЕ СТИЛЕЙ=============*/
body{
    background:url(/img/france/bg.jpg) center fixed no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;

    background-size: cover;
    position: relative;
    background-color: #000;
}

.topthing{
    background-color: black;
    width: 100%;
    height:100px;
    position:absolute;
    opacity:0.7;
    z-index:0;
}

.backgroundcontrol{
    width: 100%;
    
}

/* .backgroundcontrol::after{
    content: "";
    background: url(../img/bgitaly.jpg) center fixed no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    z-index: -1;
    height: 100vh;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.6;
    
} */

.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.header__upper{
    z-index: 1;
    position: relative;
}

.header__menu{
    max-width: 1170px;
    width: 100%;
    z-index: 2;
}

.header__item{
    display: flex;
    justify-content: space-between;
}

.header__logo{
}

.header__img{
    height: 100px;
}

.header__nav{
    display: flex;
    align-items: center;
}

.header__nav a{
    margin-right: 32.5px;
    line-height: 25px
}

.header__nav a:last-child{
    margin: 0;
}

.head__nav-menu{
    color: #fff;
    transition: .5s;
    font-weight: 500;
    display: block;
}

.head__nav-menu:hover{
    color: #F86515;
    

    transform: scale(1.2);
    width: 100%;
}

.head__nav-menu::before{
    content: '';
    bottom: 0;
    right: 0;
    position: absolute;
    height: 1px;
    background: #F86515;
    transition: .15s; 
    
    transform: scaleX(0);
}

.head__nav-menu:hover::before{
    width: 100%;
    transform: scaleX(1);
}

.main {
    margin-top: 50px;
    backdrop-filter: blur(2px);
    border-radius: 5px;
}

.blue{
	color: blue;
}

.red{
	color: red;;
}

.main__title{
	font-weight: 500;
    text-align: center;
    font-size: 40px;
    color: #fff;

    text-shadow: 0 0 3px;

    margin-bottom: 50px;
}

.main__text{
	text-shadow: 2px 3px 3px #000;
    font-size: 24px;
    color: #fff;

    margin-bottom: 50px;
}

.main__text span{
	font-weight: 700;
}

.love{
	text-align: center;
}

/* ====== vino ====== */


.vino {
}

.h2{
	text-align: center;
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 55px;
    text-shadow: 2px 3px 3px #000;
    color: #fff;
}

.vino__text {
	text-shadow: 2px 3px 3px #000;
    font-size: 24px;
    color: #fff;

    margin-bottom: 20px;
}

.vino__text span{
	font-weight: 700;
	color: rgb(211, 204, 245);
}

.vino__rows {
	display: flex;
	width: 700px;
	justify-content: space-between;
}

.vino__rows ul li{
	font-size: 24px;
	line-height: 30px;
	position: relative;
	padding-left: 20px;

}

.vino__rows ul li::before{
	content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgb(23, 46, 179);
    top: 6px;
    left: 0;
}

.vino__rows ul a{
	transition: .3s;
}

.vino__rows ul a:hover{
	color:rgb(148, 4, 4);
	
}

.vino__rows img{
	max-height: 200px;

}

/* ====== fest ====== */
.fest {
}


.fest__content {
	display: flex;
	justify-content: space-between;

	margin-bottom: 30px;
}

.fest__content img{
	max-width: 500px;

	border: 2px solid #fff;

    border-radius: 5px;
    margin-right: 30px;
}

.fest__text {
	text-shadow: 2px 3px 3px #000;
    font-size: 24px;
    color: #fff;

    margin-bottom: 10px;

	display: flex;
	align-items: center;
}

.fest__text{
	text-shadow: 2px 3px 3px #000;
    font-size: 24px;
    color: #fff;
}

/* =====vinograd====== */

.vinograd {
}

.vinograd__content {
	display: flex;

	margin-bottom: 30px;
}

.vinograd__content img{
	max-width: 500px;
	margin-right: 10px;
	border: 2px solid #fff;

    border-radius: 5px;
}

.vinograd__text {
	text-shadow: 2px 3px 3px #000;
    font-size: 23px;
    color: #fff;

    margin-bottom: 10px;

	display: flex;
	align-items: center;
	text-align: right;
}

/* =====tyr ====== */

.tyr__img{
	max-width: 700px;
	border: 2px solid #fff;

    border-radius: 5px;

	margin-bottom: 30px;
}

.tyr__text{
	text-shadow: 2px 3px 3px #000;
    font-size: 23px;
    color: #fff;

    margin-bottom: 10px;
	text-align: center;

	margin-bottom: 30px;
}

.tyr__text span{
	font-weight: 700;
	color: rgb(211, 204, 245);
}

.imgtyr{
	text-align: center;
}

.tyr__text2{
	text-shadow: 2px 3px 3px #000;
    font-size: 23px;
    color: #fff;

    margin-bottom: 20px;
}

.tyr__text2 span{
	font-weight: 700;
	color: rgb(211, 204, 245);
}

.tyr__rows {
}
.tyr__row-item {
	display: flex;
	background-color: rgb(155, 20, 20);
	
	max-height: 250px;
	border: 2px solid #fff;
	overflow: hidden;
    border-radius: 5px;

	margin-bottom: 40px;
}



.tyr__img1{
	max-width: 500px;
	margin-right: 8px;
}

.tyr__row-content{
	overflow: auto;
	padding: 0 5px 5px 5px;
	
}

.tyr__row-content::-webkit-scrollbar {
    width: 2px;
}

.tyr__row-content::-webkit-scrollbar-track {
    background: #ffffff;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset;
}

.tyr__row-content::-webkit-scrollbar-thumb {
    background: #ffae00;
    border-radius: 5px;
}

.tyr__row-content h2{
	text-shadow: 2px 3px 3px #000;
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;
	font-size: 28px;
	font-weight: 700;
	
}

.tyr__row-content p{
	font-size: 21px;
	line-height: 25px;
}

.tyr__img2{
	order: 2;

	max-width: 500px;
	
}

footer{
    margin-top: 30px;
    height: 55px;
    background-color: rgba(0,0,0, 1);
    width: 100%;

}

.footer__txt{
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    opacity: .7
}