@charset "UTF-8";
* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: 'Comfortaa', cursive;
    scroll-behavior: smooth;
    color: #fff;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

aside,
nav,
footer,
header,
section {
    display: block;
}

html,
body {
    height: 100%;
    min-width: 320px;
}

body {
    line-height: 1;
    font-family: "";
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: "";
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

/*=============ОБНУЛЕНИЕ СТИЛЕЙ=============*/

body{
    background:url(/img/bgitaly.jpg) center fixed no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    background-size: cover;
    position: relative;
    background-color: #000;
}

.topthing{
    background-color: black;
    width: 100%;
    height:100px;
    position:absolute;
    opacity:0.7;
    z-index:0;
}

.backgroundcontrol{
    width: 100%;
    
}

/* .backgroundcontrol::after{
    content: "";
    background: url(../img/bgitaly.jpg) center fixed no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    z-index: -1;
    height: 100vh;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.6;
    
} */

.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.header__upper{
    z-index: 1;
    position: relative;
}

.header__menu{
    max-width: 1170px;
    width: 100%;
    z-index: 2;
}

.header__item{
    display: flex;
    justify-content: space-between;
}

.header__logo{
}

.header__img{
    height: 100px;
}

.header__nav{
    display: flex;
    align-items: center;
}

.header__nav a{
    margin-right: 32.5px;
    line-height: 25px
}

.header__nav a:last-child{
    margin: 0;
}

.head__nav-menu{
    color: #fff;
    transition: .5s;
    font-weight: 500;
    display: block;
}

.head__nav-menu:hover{
    color: #F86515;
    

    transform: scale(1.2);
    width: 100%;
}

.head__nav-menu::before{
    content: '';
    bottom: 0;
    right: 0;
    position: absolute;
    height: 1px;
    background: #F86515;
    transition: .15s; 
    
    transform: scaleX(0);
}

.head__nav-menu:hover::before{
    width: 100%;
    transform: scaleX(1);
}

/* ================== */
.main {
    margin-top: 50px;
    backdrop-filter: blur(2px);
    border-radius: 5px;
}
.main__title {
    font-weight: 500;
    text-align: center;
    font-size: 40px;
    color: #fff;

    text-shadow: 0 0 3px;

    margin-bottom: 50px;
}

.main__text{
    text-shadow: 2px 3px 3px #000;
    font-size: 24px;
    color: #fff;

    margin-bottom: 50px;

}

.green{
    color: green;
    text-shadow: 0 0 3px;
    font-weight: 700;
}

.red{
    color: red;
    text-shadow: 0 0 3px;
    font-weight: 700;
}
.main__text {
    text-shadow: 2px 3px 3px #000;
    color: #fff;
    font-size: 24px;
}

.italian1{
    border: 2px solid #fff;
    border-radius: 5px;
    max-width: 505px;
    float: right;
}

.loveitaly{
    text-align: center;
}

.loveitaly img{
    max-width: 500px;
}


.main p{
   
}

.subtitle{
    text-align: center;
    font-size: 32px;

    margin-bottom: 30px;
}

.italy__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-bottom: 40px;
}

.italy__card-item {
    border-top: 1px solid #E5A464;
    border-left: 1px solid #E5A464;
    border-right: 1px solid #E5A464;
    border-bottom: 1px solid #E5A464;
    text-shadow: 2px 3px 3px #000;
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
	border-radius: 12px;
    
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    
	display: flex;
	justify-content: center;
    flex: 0 1 24%;
    flex-wrap: wrap;
    margin-left: 14px;
    transition: .5s;
	backdrop-filter: blur(5px);
    margin-bottom: 10px;
}

.italy__card-item:first-child{
    margin-left: 0;
    
}

.iyalt__card-item p{
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 3px 3px #000;
}

.italy__card-item h2{
    text-align: center;
    font-size: 32px;
    margin-top: 10px;
}

.italy__card-item img{
    max-width: 284px;
    max-height:208px;

    border-top: 1px solid #fff;
}

.italy__content{
    
    padding: 10px;
    overflow: auto;
    height: 200px;
}

.text {
    font-size: 21px;
}

.italy__content::-webkit-scrollbar {
    width: 2px;
}

.aitaly__content::-webkit-scrollbar-track {
    background: #ffae00;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset;
}

.italy__content::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 5px;
}

.italy__img{
    transition: .5s;
}

.italy__img:hover{
    
}

/* ================ FOOTER ============= */

.footer__content {
}

.footer__main-title{
    margin-bottom: 30px;
}

.footer__content h2{
    text-align: center;
    font-size: 32px;
    margin-top: 10px;
    
   
}

/* .footer__text p{
    font-size: 20px;
    line-height: 23px;

    
} */

/* ====== FOOTERUPPER===== */

.footer__upper{
    display: flex;
    margin-bottom: 50px;
}

.footer__upper img{
    max-width: 280px;
    max-height: 500px;
}

.footer__upper p{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    font-size: 20px;
    margin-left: 10px;
    text-shadow: 2px 3px 3px #000;
}

.arrow1{
    margin-right: -150px;
    display: flex;
    justify-content: flex-end;
}



.italy__tomat {
}
.footer__desert {
}
/* ====== FOOTERUPPER===== */

/* ====== ITALY__TOMAT===== */

.italy__tomat {
}

.italy__tomat h2{
    margin-bottom: 30px;
}

.italy__tomat p{
    font-size: 20px;
    line-height: 25px;
    text-shadow: 2px 3px 3px #000;
}

.italy__tomat img{
    max-height: 100px;
}

/* ====== ITALY__TOMAT===== */

.footer__desert {
    
}

.footer__desert-title{
    margin-bottom: 30px;
}

.footer__desert p{
    font-size: 21px;
    margin-bottom: 30px;
    text-shadow: 2px 3px 3px #000;
}

.text__footer{
    font-size: 21px;
}

.italy__card-item-footer {
    border-top: 1px solid #E5A464;
    border-left: 1px solid #E5A464;
    border-right: 1px solid #E5A464;
    border-bottom: 1px solid #E5A464;

	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
	border-radius: 12px;
    
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    
	display: flex;
	justify-content: center;
    flex: 0 1 23%;
    flex-wrap: wrap;
    margin-left: 14px;
    transition: .5s;
	backdrop-filter: blur(5px);
    margin-bottom: 10px;
}

.italy__card-item-footer:first-child{
    margin-left: 0;
    
}


.iyalt__card-item-footer p{
    font-size: 20px;
    text-align: center;
}

.italy__card-team-title{
    text-align: center;
    font-size: 32px;
    margin-top: 10px;
}

.italy__card-item-footer img{
    max-width: 284px;
    max-height:208px;

    border-top: 1px solid #fff;
}

.vino__img{
    /* float: right; */
    max-height: 250px;
    border: 2px solid white;
    border-radius: 5px;
}

.italy__vino {
}

.italy__vino-content{
    display: flex;
}
.italy__vino-title {
    margin-bottom: 30px;
}

.italy__vino-text {
    font-size: 21px;
    line-height: 31px;

    text-shadow: 2px 3px 3px #000;
}

footer{
    margin-top: 30px;
    height: 55px;
    background-color: rgba(0,0,0, 1);
    width: 100%;

}

.footer__txt{
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    opacity: .7
}
